$titleColor: #1890FF;
.prime{
  background-color: #FFFFFF;
  margin: 30px 50px;
  padding: 20px;

}
.textZone{
}

.overv{
  margin: 10px 0;
}
.userInfoZone{
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}
.userInfoZone image{

}
.title{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title h2{
  color: $titleColor;
  margin: 0;
  font-weight: 400;
}
.title p{
  align-self: center;
  margin-left: 10px;
}
.tag{
  border: 1px solid black;
  width: 30px;
  padding: 5px;
  border-radius: 2px;
  margin: 5px 0;
}
$titleColor: #1890FF;
.main{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 150px;

}
//.text{
//  //white-space: pre-wrap;
//  white-space: pre-line;
//}
.textZone{
  width: fit-content;
}
.likes{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}
.overv{
  margin: 10px 0;
}
.userInfoZone{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  width: 40%;
  align-items: end;
}
.nameZone{
  display: flex;
}
.authorName{
  margin-top: 0;
  margin-bottom: 5px;
}
.authorDate{
  margin-top: 0;
  color: gray;
  font-weight: lighter;
}
.authorImage{
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin-left: 15px;
}
.title{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title h2{
  color: $titleColor;
  margin: 0;
  text-decoration: none;
}

.title p{
  align-self: center;
  margin-left: 10px;
}
.tagSection{
  display: flex;
  flex-direction: row;
}
.tag{
  border: 1px solid black;
  width: fit-content;
  padding: 5px;
  border-radius: 2px;
  margin: 5px 5px 0 0;
  font-weight: 400;
}
.likes{
  display: flex;
  flex-direction: row;
  margin: 5px;
  align-items: center;
}
.likesP{
  font-size: 12px;
}
.modalFrame{
  background-color: #FFFFFF;
  box-shadow: 0 0 5px 0 lightgray;
  position: absolute;
  top: 210px;
  right: 145px;
  padding: 20px;
  border-radius: 5px;
}
.modalFrame div{
  display: flex;
  flex-direction: row;
  justify-content: end;

}
.modalFrame div p:first-child{
  background-color: #FFFFFF;
  padding: 3px 5px;
  margin: 10px 5px;
  border-radius: 5px;
  border: 1px solid lightgray;
}
.modalFrame div p:last-child{
  background-color: #1890FF;
  padding: 3px 5px;
  margin: 10px 5px;
  border-radius: 5px;
}
.editDelete{

}
.edit{
  border: 1px solid #52C41A;
  border-radius: 5px;
  padding: 5px;
  color: #52C41A;
  margin: 0 10px;
}
.delete{
  border: 1px solid #F5222D;
  border-radius: 5px;
  padding: 5px;
  color: #F5222D;
  margin: 0 10px;
}