$titleColor: #1890FF;
.main{
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}
.realWorld{
  margin: 20px 20px 20px;
  text-decoration: none;
  color: black;
}
.main section{
  margin: 20px 20px 20px;
}

.signIn{
  padding-right: 20px;
  color: black;
}
.signUp{
  border: 1px solid #52C41A;
  border-radius: 5px;
  padding: 3px;
  color: #52C41A;
}
.authorized{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.authorized img{
  height: 46px;
  width: 46px;
  border-radius: 30px;
  margin: 0 10px;
}
.logOut{
  margin: 0 10px;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;

}
.createArticle{
  border: 1px solid #52C41A;
  border-radius: 5px;
  padding: 5px;
  color: #52C41A;
  margin: 0 10px;
}
.userUsername{
  margin: 0 10px;

}